<html lang="en">
  <head>
    <link href="../../Public/style.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <div class="header">
        <div id="brand">
            <h1>Edyst Platform</h1>
        </div>
        <div id="nav">
            <a href="flex.html">Home</a>
            <a href="/port">Project</a>
            <a href="#">Profile</a>
            <a href="#">Resume</a>
            <a href="#">Contact</a>
        </div>
    </div>
    <div>
      <h2>ReactJS</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae tenetur
        rerum ipsa veritatis repellendus molestias sint quas perferendis
        inventore cum earum laudantium, temporibus repudiandae, nam enim qui
        corporis, labore sunt nulla assumenda exercitationem. Corporis corrupti
        accusamus dignissimos nemo. Reprehenderit dolores soluta blanditiis
        laborum accusamus corrupti, laboriosam odio nemo neque error in,
        provident repudiandae, necessitatibus praesentium et. Voluptatum ea
        temporibus itaque maxime praesentium voluptatibus animi quam et fugiat
        molestiae dolore nam placeat, non possimus. Magni molestiae eligendi,
        doloribus accusantium voluptate, nesciunt aliquid iste quia distinctio
        facilis soluta sed ducimus veritatis ipsam, asperiores tempore quod
        dolorum! Corrupti ex ea corporis maxime assumenda.
      </p>
    </div>
    <div>
      <h2>Css</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum
        voluptatibus, dolore deserunt, fuga quos atque repellendus quam odit
        minus quidem minima animi, dicta excepturi qui esse assumenda provident
        asperiores aperiam adipisci sit repellat numquam facere veniam
        voluptatem. Tempore sapiente velit quae, recusandae quasi assumenda
        maiores dicta. Ab deleniti accusantium perspiciatis nisi, hic officiis
        qui natus unde repellendus architecto fugiat facilis sunt, impedit
        quibusdam in aliquam vitae odit cupiditate vel fugit.
      </p>
    </div>
  </body>
</html>


 